.main{
    margin-top: 7rem;
    margin-bottom: 6rem;
    /* border: 1px solid; */
display: flex;
flex-direction: column;
align-items: center;
  
}

.priceTotal{
    display: flex;
    
    justify-content: space-around;
}
.img{
    width: 30px;
}
.itemsBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 1rem;
}
.items{
    display: flex;
    align-items: center;
     gap: 3rem;
     width: 60%
}
.btn{
    background-color: red;
    color: white;
    cursor: pointer;
}
.checkBtn{
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgb(203, 136, 11);
    font-size: 1.1rem;
}
@media only screen and (max-width: 600px)   {
 
    .itemsBox{
        flex-direction: column;
        flex-wrap: wrap;
        /* border: 1px solid; */
    }
    }